.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
  margin: auto;
  margin-top: -20px;
}

.desc {
  font-size: 13px;
  margin-bottom: 10px;
}

.timer {
  margin: 30px;
  font-size: 55px;
  letter-spacing: 2px;
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}

.buttons {
  cursor: pointer;
  outline-width: 0;
  border-radius: 25px;
  border-width: 0px;
  background-size: 300%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
}
.cta-buttons {
  margin: 15px;
  font-size: 16px;
  padding: 10px;
  width: 145px;
  background-image: linear-gradient(to left, #486dff, #7d2e93, #486dff, #7d2e93);
}
.cta-buttons:hover {
  transform: scale(1.04);
}
#tab-timer, #bg-flash {
  margin: 8px;
  font-size: 11px;
  padding: 0px;
  width: 60px;
  background-image: linear-gradient(to left, #ffa03a, #ff4848, #ffa03a, #ff4848);
  height: 17px;
  background-position: 50%;
}

.volume-control {
  text-align: left;
  position: relative;
  width: 201px;
  margin: auto;
  left: 2px;
  margin-bottom: 5px;
}

.audio {
  width: 15px;
  height: 11px;
  position: relative;
  top: -2.5px;
  margin-right: 14px;
}

.slider {
  margin-right: 15px;
}

#range-volume {
  font-size: 13px;
  position: relative;
  top: -4px;
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}